/**************************
Herança e especificade 
#pagina p {
    color: blue !important;
}

#paginap {
    color: red;
}
*/

/* Se um seletor for mais específico que outro a regra mais específica será aplicada (terá precedência sobre regras mais gerais)
*/
* {
    color: red;
}

h2 {/*3*/
    color: aqua;
}

h2#amarelo {/*2*/
    color: yellow;
}


h2.verde {/*1*/
    color: green;
}